<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="asideFragment" class="aside">
        <div class="aside-title" th:text="${title}">title</div>
        <div class="aside-container">
            <a th:href="${menu1_url}" class="aside-box" th:if="${menu1 != null}" th:text="${menu1}">메뉴1</a>
            <a th:href="${menu2_url}" class="aside-box" th:if="${menu2 != null}" th:text="${menu2}">메뉴2</a>
            <a th:href="${menu3_url}" class="aside-box" th:if="${menu3 != null}" th:text="${menu3}">메뉴3</a>
            <a th:href="${menu4_url}" class="aside-box" th:if="${menu4 != null}" th:text="${menu4}">메뉴4</a>
            <a th:href="${menu5_url}" class="aside-box" th:if="${menu5 != null}" th:text="${menu5}">메뉴5</a>
        </div>
    </aside>
</html>