<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footerFragment" class="footer">
        <div class="footer-logo">
            <img class="header-logo-img" src="/image/logo.png" alt="epkorea">
        </div>
        <div class="footer-desc">
            <p>대표이사: 배문찬 사업자등록번호: 218-81-17533</p>
            <p>본사: 04782 서울특별시 성동구 아차산로 116 TEL. 02-465-3100 FAX. 02-468-6072</p>
            <p>공장: 경기도 광주시 곤지암읍 열미길 48 TEL. 031-798-3700 FAX. 031-798-3822</p>
            <p>지사: [광주] 광주광역시 화개1로 1번길 6-2 TEL. 062-653-3507 / [대전] 대전광역시 서구 도솔로 267번길 20-8 TEL. 042-524-6072</p>
        </div>

    </footer>
</html>