<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" id="header" class="header">

    <div class="header-logo">
        <a href="/">
            <img class="header-logo-img" src="/image/logo.png" alt="epkorea">
        </a>
    </div>

    <div class="header-tab-wrap">
        <a class="header-tab" href="/user/all">관리자관리</a>
        <a class="header-tab" href="">사업관리</a>
        <a class="header-tab" href="">홍보센터</a>
        <a class="header-tab" href="">채용안내</a>
    </div>

    <div class="header-user">
        <th:block th:if="${loginUser != null}">
            <p th:text="${loginUser.getUsername()}"></p>
            <p th:text="${loginUser.getAuthorities()}"></p>

            <a href="/user/logout">로그아웃</a>
        </th:block>
        <th:block th:unless="${loginUser != null}">
            <a href="/user/login">로그인</a>
        </th:block>

    </div>

</header>
</html>