<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <title>BackOffice</title>

    <link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/aside.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="js"></th:block>
</head>

<body>
    <th:block th:replace="fragment/header :: headerFragment"></th:block>
    <th:block layout:fragment="content"></th:block>
    <th:block th:replace="fragment/footer :: footerFragment"> </th:block>
</body>

</html>