.footer {
    display: flex;
    align-items: center;
    padding: 20px 100px;
    box-sizing: border-box;
    background-color: #f4f4f4;

    min-height: 200px;
    gap: 20px;
}
.footer-desc {
    font-size: 13px;
    margin: 0px;
}
.footer-desc > p {
    margin: 0px;
}