body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-header {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;
    font-weight: bold;
    border: 1px solid gray;
    box-sizing: border-box;
}
.content-container {
    display: flex;
}