<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/user/login" method="POST">
        <label for="userid"></label>
        <input type="text" name="userid" id="userid" class="userid" autocomplete="false">
        <label for="password"></label>
        <input type="password" name="password" id="password" class="password">
        <input type="submit" value="로그인">
    </form>
    <a href="/user/logout">로그아웃</a>
</body>
</html>